*{
    font-style:Georgia;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
    transition: all 0.1s;
}
.navlogo{
    background-color: #008d4d;
    width: auto;
    margin: -8px;
    margin-bottom: 20px;
}
.logo>img{
    margin: 4px 0px 0px 50px;
    border-radius: 20px;
    width: 200px;
    
}
.background{
  margin: -8px;
  margin-top: -20px;
  background-color: #52c995;
  position: relative;
}
.background>img{
    width: 100%;
    height: 682px;
}

h2{
   margin: 10px;
   text-align: center;
}
.loginform{
    position: absolute;
    top: 84px;
    left: 382px;
    border: 1px solid #c0e4bc9e;
    padding: 50px;
    border-radius: 20px;
    width: 450px;
    height: 450px;
    background-color: #c0e4bc9e;
    color: white;
    font-weight: bold;
    box-shadow: -30px 30px 30px rgb(0 0 0 / 30%);
    z-index: 2;
}
.loginform>table{
   
    z-index: 99;
   color: white;
    position: absolute;
}
.fr{
    padding: 30px;
    font-weight: bold;   
}

td>input{
    margin: 5px;
    color: rgb(88, 88, 88);
    border: 1px solid white;
    background-color: white;
    padding: 11px;
    border-radius:10px;
    margin-left: 65px;
    padding-left: 44px;
    text-align: left;
}
::-webkit-input-placeholder { 
    color:    rgb(121, 120, 120);
    font-family: "Segoe UI";
}
.power>a{
    border: 5px solid #d9ebd7ce;
    border-radius:20px;
    padding: 10px;
    

}
.power>a:hover{
    background-color:#a1ec98f8 ;
    border: 5px solid #a1ec98f8;

}
.facebook{
    overflow: hidden;
    background-color: #4267b2;
    display: flex;
    margin-top: 20px;
    border-radius: 20px;
   
}

.facebook:hover{
    background-color: #6786c5;
}
.facebook>svg{
    fill: #fff;
    margin: 10px;
}
.facebook>div{
    margin-top: 7px;
    padding-right: 12px;
}
#fb{
    text-decoration: none;
    color: white;
}

.check{
    display: flex;
    padding: 10px;
}
.check>p{
    margin: 0px;
    font-size: 14px;
    color: rgb(255, 255, 255);
}
.check>input{
    margin-top: 2px;
}
.background{
    display: flex;
}
.bgnext>img{
    position: absolute;
    top: -1px;
    width: 418px;
    height: 450px;
    left: 424px;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 0px 30px 30px rgba(82, 80, 80, 0.3);
}
.help>a{
    position: absolute;
    font-size: 13px;
    text-decoration: underline;
    right: 42px;
    color: green;
}
.qmk>a{
    text-align: right;
    text-decoration: underline;
    font-size: 14px;
    padding-left: 70px;
    color: rgba(82, 80, 80, 0.753);
    font-style: italic;
}